<body>
<div>
  
<h1 style="text-align:center">{{title| uppercase}}</h1>
<form #login = "ngForm" (ngSubmit)="submit(login.value)">

  <div class="form-group">

    <label for="email"><b>Email id: </b></label>
  
    <input type="email" name="email" id="email" #email="ngModel" email placeholder="Enter Email" ngModel required>
  
    <br><span *ngIf="email.invalid && email.touched" style="color: red;">Please enter a valid Email id</span>
  
    </div>
  
  
  
    <div class="form-group">
  
    <label for="subscriptions"><b> Subscriptions: </b></label>
  
    <select name="subscriptions" id="subscriptions" [ngModel]="subscriptions" required>
  
      <option selected="selected" value="Basic"> Basic </option>
  
      <option value="Advanced"> Advanced </option>
  
      <option value="Pro"> Pro </option>
  
    </select>
  
    </div>
  
   
  
    <div class="form-group">
  
    <label for="password"><b> Password: </b></label>
  
    <input type="password" #password="ngModel" name="password" placeholder="Enter Password" ngModel required>
  
    <br><span *ngIf="password.invalid && password.touched" style="color: red;">Please enter a valid Password</span><br>
  
    </div>
  
  
  
    <button class="btn btn-primary" type="submit">Submit</button>
  
  </form>
  
  


<table class='table table-striped' >
  <thead>
    <tr>
      <th>Email Address</th>
      <th>Subscriptions</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of array1">
      <td>{{ item.email }}</td>
      <td>{{ item.subscriptions }}</td>
      <td>{{ item.password }}</td>
    </tr>
  </tbody>
</table>











