
    <mat-stepper #stepper class="outerdiv">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel style="text-decoration-color: white;">Basic Information</ng-template>
                
                
                <mat-form-field appearance="fill" style="height: 80px; width: 200px;">
                    
                        <mat-label style="color: black;">FULL NAME </mat-label>
                    
                    <input matInput placeholder="Placeholder" formControlName="fullname">
                    <mat-error>
                    </mat-error>
                    <mat-icon class="material-icons">person</mat-icon>
                </mat-form-field>
            <br>


            <mat-form-field appearance="fill" style="height: 80px; width: 200px;">
                
                    <mat-label style="color: black;">EMAIL ID</mat-label>
                
                <input matInput placeholder="Placeholder" formControlName="email">
                <mat-error>
                </mat-error>
                <mat-icon class="material-icons">email</mat-icon>
                
            </mat-form-field>
            <br>
            
            <mat-form-field appearance="fill" style="height: 80px; width: 200px;">
                
                    <mat-label style="color: black;">FATHER NAME </mat-label>
                
                <input matInput placeholder="Placeholder" formControlName="fathername">
                <mat-error>
                </mat-error>
                <mat-icon class="material-icons">person</mat-icon>
            </mat-form-field>
            <br>
            
            <mat-form-field appearance="fill" style="height: 80px; width: 200px;">
                
                    <mat-label style="color: black;">MOTHER NAME </mat-label>
               
                <input matInput placeholder="Placeholder" formControlName="mothername">
                <mat-error>
                </mat-error>
                <mat-icon class="material-icons">person</mat-icon>
            </mat-form-field>
            <br>
            
            <div>
                <mat-label style="color: black;">Select Gender</mat-label>
            </div>
            <mat-radio-group aria-label="gender" formControlName="gender">
                <mat-radio-button value="MALE" style="color: white;">MALE</mat-radio-button>
                <mat-icon class="material-icons">male</mat-icon>
                <mat-radio-button value="FEMALE" style="color: white;">FEMALE</mat-radio-button>
                <mat-icon class="material-icons">female</mat-icon>
                <mat-radio-button value="OTHER" style="color:  white;">OTHER</mat-radio-button>
                <mat-icon class="material-icons">transgender</mat-icon>
                
                <mat-error>
                </mat-error>
                
            </mat-radio-group> 

            <mat-form-field appearance="fill">
                <mat-label style="color: black;">Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateofbirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <br>
            <mat-form-field appearance="fill" style="height: 80px; width: 200px;">
                <mat-label style="color: black;">MOBILE NUMBER</mat-label>
                
                <input matInput placeholder="Placeholder" formControlName="mobile">
                <mat-error>
                </mat-error>
                <mat-icon class="material-icons">phone</mat-icon>
                
            </mat-form-field>

             <br>
            <button mat-button matStepperNext style="color: green;">Next</button>
            
        </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Bank Details</ng-template>
            <br>
            <mat-form-field appearance="fill">
                
                <mat-label style="color: black;">FULL NAME </mat-label>
                
                <input matInput placeholder="Placeholder" formControlName="fullname">
                <mat-error>
                </mat-error>
                <mat-icon class="material-icons">person</mat-icon>
            </mat-form-field>
            <br>
            
            
            <mat-form-field appearance="fill">
                
                <mat-label style="color: darkred;">BANK ACCOUNT NUMBER</mat-label>
                
                <input matInput placeholder="Placeholder" formControlName="bankaccountnumber">
                <mat-error>
                </mat-error>
                
                </mat-form-field>
                <br>
                
                <mat-form-field appearance="fill">
                    
                        <mat-label style="color: darkred;">BANK NAME </mat-label>
                        
                        <input matInput placeholder="Placeholder" formControlName="bankname">
                        <mat-error>
                        </mat-error>
                    </mat-form-field>
                    
                    <br>
                    
                    <mat-form-field appearance="fill">
                        
                        <mat-label style="color: darkred;">IFSC CODE </mat-label>
                        
                        <input matInput placeholder="Placeholder" formControlName="ifsccode">
                        <mat-error>
                        </mat-error>
                    </mat-form-field>

                    <br>
                    
                    <div>
                        <mat-label style="color: darkred;">YOU HAVE INTERNET BANKING</mat-label>
                    </div>
            <mat-radio-group formControlName="internetbanking">
                <mat-radio-button value="YES" style="color: white;">YES</mat-radio-button>
                <mat-icon class="material-icons">yes</mat-icon>
                <mat-radio-button value="NO" style="color: white;">NO</mat-radio-button>
                <mat-icon class="material-icons">no</mat-icon>
                
                
                <mat-error>
                </mat-error>
                
            </mat-radio-group>
            
            <div>
                <mat-label style="color: darkred;">YOU HAVE MOBILE BANKING</mat-label>
            </div>
            <mat-radio-group formControlName="mobilebanking">
                <mat-radio-button value="YES" style="color: white;">YES</mat-radio-button>
                <mat-icon class="material-icons">yes</mat-icon>
                <mat-radio-button value="NO" style="color: white;">NO</mat-radio-button>
                <mat-icon class="material-icons">no</mat-icon>
                
                
                <mat-error>
                </mat-error>
                
            </mat-radio-group>
            
            <div>
                <button mat-button matStepperPrevious style="color: red;">Back</button>
                <button mat-button matStepperNext style="color: green;">Next</button>
            </div>
        </form>
    </mat-step>
    
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel style="color: black;">COMMUNICATION ADDRESS</ng-template>
        <br>
        <mat-form-field appearance="fill">
            
            <mat-label style="color: darkred;">PRESENT ADDRESS </mat-label>
            
            <input matInput placeholder="Placeholder" formControlName="presentaddress">
            <mat-error>
            </mat-error>
        </mat-form-field>
        
        <br>
        
        <mat-form-field appearance="fill">
            
            <mat-label style="color: darkred;">PERMANENT ADDRESS </mat-label>
            
            <input matInput placeholder="Placeholder" formControlName="permanentaddress">
            <mat-error>
            </mat-error>
        </mat-form-field>
        
        <br>
        
        <div>
            <button mat-button matStepperPrevious style="color: red;">Back</button>
            <button mat-button (click)="OnSubmit()" style="color: green;">Submit</button>
            <button mat-button (click)="stepper.reset()" style="color:blue">Reset</button>
        </div>
        </form>
    </mat-step>
</mat-stepper>
