<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align:center;color:white; margin-right: 150px;">Welcome to Dashboard!!</h1>
<br>
<div>
<div style="float: left; width: 300px;padding-right: 50px;margin-left: 20px;">
    <h4 style="color: white;">Determinate</h4>
    <mat-progress-bar mode="determinate" value="40" ></mat-progress-bar>

    <br>
    <h4 style="color: white;">Indeterminate</h4>

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <br>
    <h4 style="color: white;">Buffer</h4>

    <mat-progress-bar mode="buffer"></mat-progress-bar>

    <br>
    <h4 style="color: white;">Query</h4>

    <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <div style="float: left; width: 300px;" >
        <mat-list style="background-color: white;" >

           

            <mat-list-item class="style" >login</mat-list-item>

     

            <mat-divider style="background-color: white;"></mat-divider>

     

            <mat-list-item >Registration</mat-list-item>

     

            <mat-divider ></mat-divider>

     

        </mat-list>
    </div>
    </div>
